html, body {
	height: 100%;
}

body {
	background: #100f0f;
}

.vp-height {
	height: 100vh;
}

.page-wrapper {
	position: absolute;
	top: 0;
	left: 20px;
	right: 0;
	bottom: 0;
}

.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 320px;
	color: #f4ebeb;
}

.page-name {
	position: absolute;
	margin-top: 0;
	top: 28px;
	left: 0;
	font-size: 20px;
	line-height: 0.9;
	font-weight: normal;
    word-spacing: .4em;
    letter-spacing: 0.02em;
	font-family: "Open Sans", sans-serif;
	background: #F7F7F7;
    color: #000000;
    padding: 1px;
    box-shadow: 0 0 6px 0 rgba(255,255,255,.5);
}

.page-name a {
	text-decoration: none;
	color: inherit;
}

.presents {
	font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Poiret One', cursive;
    position: absolute;
    z-index: 1;
    left: 84px;
    top: 62px;
    letter-spacing: 0.1em;
}

.name-first-letter {
	font-size: 25px;
}

.page-navigation {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.nav-list {
	list-style: none;
	padding-left: 0;
	font-size: 18px;
	font-family: 'Poiret One', cursive;
	line-height: 2.2;
	text-transform: uppercase;
}

.nav-list a:link,
.nav-list a:visited {
	color: inherit;
	text-decoration: none;
}

.nav-link.nav-selected:link,
.nav-link.nav-selected:visited {
	color: #C2DAFF;
	text-shadow: 0 0 6px;
}

.nav-list a:hover {
	color: #C2DAFF;
}

.page-footer {
	position: absolute;
	bottom: 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	line-height: 1;
	color: #6B6A6A;
}

.main-content {
	box-sizing: border-box;
	background: #EAEAEA;
	color: #100f0f;
	height: 100%;
	margin-left: 320px;
}

.cards {
	text-align: center;
}

.card {
	margin-right: 15px;
	max-width: 200px;
	margin-bottom: 15px;
}

.big-image {
	max-width: 100%;
}

.projector-light {
	position: absolute;
	/*width: 100%;*/
	/*height: 100%;*/
}

.content-frame {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}