html, body {
	height: 100%;
}

.vp-height {
	height: 100vh;
}

.page-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.sidebar {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	width: 30%;
	min-width: 290px;
	color: #f4ebeb;
	padding-left: 20px;
	background: #100f0f;
}

.page-name {
	position: absolute;
	margin-top: 0;
	top: 28px;
	left: 0;
	font-size: 20px;
	font-weight: normal;
    word-spacing: .4em;
    letter-spacing: 0.02em;
	font-family: "Open Sans", sans-serif;
	background: url("../img/shit.svg") 0 0 no-repeat;
	background-size: 100%;
    color: #000000;
    padding: 0 10px 0 20px;
}

.page-name a {
	text-decoration: none;
	color: inherit;
}

.presents {
	font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Poiret One', Arial, sans-serif;
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 66px;
    letter-spacing: 0.1em;
}

.name-first-letter {
	font-size: 25px;
}

.page-navigation {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.nav-list {
	list-style: none;
	padding-left: 0;
	font-size: 18px;
	font-family: 'Poiret One', cursive;
	line-height: 2.2;
	text-transform: uppercase;
}

.nav-list a:link,
.nav-list a:visited {
	color: inherit;
	text-decoration: none;
}

.nav-link.nav-selected:link,
.nav-link.nav-selected:visited {
	color: #C2DAFF;
	text-shadow: 0 0 8px;
}

.nav-list a:hover {
	color: #C2DAFF;
}

.page-footer {
	position: absolute;
	bottom: 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	line-height: 1;
	color: #6B6A6A;
}

.main-content {
	box-sizing: border-box;
	background: #fff;
	color: #100f0f;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 70%;
	max-width: calc(100% - 290px);
}

.projector-light {
	position: absolute;
	left: 0;
}

.content-frame {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}

/*******************************/

@media (max-width: 1024px) {
	.projector-light {
		display: none;
	}
}

@media (max-width: 960px) {
	.main-content {
		position: static;
		max-width: none;
		width: auto;
	}

	.sidebar {
		position: absolute;
		z-index: 1;
		overflow: hidden;
		min-width: 0;
		max-height: 380px;
		min-height: 40px;
		width: 100%;
		height: 40px;
		box-shadow: 0px 0 4px 0 #0F0A54;
	}

	.page-name {
		position: static;
		color: white;
		background: none;
		padding: 0;
	}

	.page-navigation {
		position: static;
		margin-top: 30px;
		transform: none;
	}

	.presents {
		display: none;
	}

	.page-footer {
		position: static;
		margin-top: 50px;
	}
}