.cards {
	margin: 14.6vh 0;
}

/*.cards::-webkit-scrollbar {
    height: 10px;
}*/

.cards-preview {
	box-sizing: border-box;
	width: calc(50vw + 50% + 25px);
	white-space: nowrap;
	overflow: auto;
	padding: 25px;
	background: #dedede;
	margin-top: 15px;
	margin-left: -25px;
	font-size: 0; /* removes unneeded space between images */
}

.card {
	width: 200px;
}

.cards-preview a {
	margin-right: 15px;
}

.cards-preview a:last-child {
	margin-right: 0;
}

.poster {
	margin-top: 100px;
}

@media (max-width: 740px) {
	.cards-preview {
		width: 100%;
		margin-left: 0;
	}
}