.cards {
	height: 450px; /* placeholder height */
	margin: 120px 0;
}

/*.cards::-webkit-scrollbar {
    height: 10px;
}*/

.cards-preview {
	box-sizing: border-box;
	width: calc(100% - (100% - 700px) / 2 + 30px);
	position: absolute;
	white-space: nowrap;
	overflow: auto;
	padding: 30px;
	background: lightgray;
	margin-top: 15px;
	margin-left: -30px;
	font-size: 0; /* removes unneeded space between images */
}

.card {
	max-width: 200px;
}

.cards-preview a {
	margin-right: 15px;
}

.cards-preview a:last-child {
	margin-right: 0;
}

.poster {
	margin-top: 100px;
}